<div class="flex-menu-admin">
    <div class="left-right-admin">
        


        <a asp-controller="Banner" asp-action="Index">Slider</a>
        <a asp-controller="News" asp-action="Index">News</a>
        <a asp-controller="Interior" asp-action="Index">Interior</a>
        <a asp-controller="Corporate" asp-action="Index">Corporate</a>
        <a asp-controller="Vacancy" asp-action="Index">Vacancy</a>
        <a asp-controller="Humanresources" asp-action="Index">HumanResources</a>
        <a asp-controller="Product" asp-action="Index">Product</a>
        <a asp-controller="Corporate" asp-action="Index">Corporate</a>
        <a asp-controller="About" asp-action="Index">About</a>
        <a asp-controller="Achivement" asp-action="Index">Achivement</a>
        <a asp-controller="Activity" asp-action="Index">Activity</a>
    </div>


    <div class="left-right-admin">
        <a asp-controller="Category" asp-action="Index">Category</a>
        <a asp-controller="Subcategory" asp-action="Index">Subcategory</a>
        <a asp-controller="Blog" asp-action="Index">Blog</a>
        <a asp-controller="Twin" asp-action="Index">Twin</a>
        <a asp-controller="Ads" asp-action="Index">Ads</a>
        <a asp-controller="Press" asp-action="Index">Press</a>
        @* <a asp-controller="Contact" asp-action="Index">Contact</a> *@
        <a asp-controller="Vision" asp-action="Index">Vision</a>
        <a asp-controller="Appearance" asp-action="Index">Appearance</a>
        <a asp-controller="Characteristics" asp-action="Index">Slider</a>
        <a asp-controller="Banner" asp-action="Index">Banner</a>
    </div>
</div>  



